﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Chi_tiet.aspx.cs" MasterPageFile="~/Styles/MasterPage.master" Inherits="_Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="width: 926px">
        <table cellpadding="0" cellspacing="10" style="height: 223px">
            <tr>
                <td class="auto-style7">

                    <asp:Image ID="imgicon" runat="server" Height="238px" ImageUrl="~/images/icon/ADD.JPG" />

                    <br />
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Tải xuống" />

                </td>
                <td class="auto-style6">
                    <asp:Label ID="lbname" runat="server"></asp:Label>
                    <br />
                    <asp:Label ID="lbsize" runat="server"></asp:Label>
                    <br />
                    <asp:Label ID="lbdate" runat="server"></asp:Label>
                    <br />
                    <asp:Label ID="lbuser" runat="server"></asp:Label>
                    <br />
                    <asp:Label ID="lbnumb" runat="server"></asp:Label>
                    <br />
                    <asp:Label ID="lbdetail" runat="server"></asp:Label>
                    <br />
                    <asp:Label ID="Label7" runat="server"></asp:Label>
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
 </asp:Content>
<asp:Content ID="Content1" runat="server" contentplaceholderid="head">
    <style type="text/css">
        .auto-style6 {
            width: 354px;
            height: 112px;
        }
        .auto-style7 {
            width: 224px;
            height: 112px;
        }
    </style>
</asp:Content>

