﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Đăng nhập</title>
    <style type="text/css">
        .style1 {
            width: 807px;
        }
        .auto-style1 {
            width: 90px;
        }
        .auto-style2 {}
        .auto-style3 {
            width: 168px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Home" />
        <br />
        Đăng nhập vào tài khoản quản trị của bạn:<br />
    
        &nbsp;<asp:Label ID="Label1" runat="server" ForeColor="Red"></asp:Label>
        <br />
        &nbsp;
        <table cellpadding="0" cellspacing="10" class="style1">
            <tr>
             <td height ="25px" class="auto-style1">Tài khoản:&nbsp;</td>
             <td height ="25px" class="auto-style3">
        <asp:TextBox ID="tbuser" runat="server" CssClass="auto-style2" Height="25px" Width="150px"></asp:TextBox>
                </td>
             <td height ="25px">&nbsp;</td>
         </tr>
          <tr>
             <td height ="25px" class="auto-style1">Mật khẩu:</td>
             <td height ="25px" class="auto-style3">
        <asp:TextBox ID="tbpass" runat="server" TextMode="Password" Height="25px" Width="150px"></asp:TextBox>
              </td>
             <td height ="25px">&nbsp;</td>
         </tr>
        </table>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Login" />
        </div>

    </form>
</body>
</html>
