﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Phanmem.aspx.cs" MasterPageFile="~/Styles/MasterPage.master" Inherits="Phanmem" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 
    <div>
    <asp:Repeater ID="Repeater1" runat="server" DataSourceID="SqlDataSource1" >
            <ItemTemplate>
            <div class="Phanmem">
                <a ID="HyperLink1" href="Chi_tiet.aspx?ID=<%# Eval("ID") %>"><%# Eval("Viewname")%>(<%# Eval("Download")%>)</a>
            </div>
            </ItemTemplate>
        </asp:Repeater>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:DatawebConnectionString %>" SelectCommand="SELECT * FROM [Phanmem]"></asp:SqlDataSource>
    </div>
</asp:Content>


<asp:Content ID="Content2" runat="server" contentplaceholderid="head">
    <style type="text/css">
    .auto-style4 {}
</style>
</asp:Content>


