﻿.body {
	font-size: 110%;
	line-height: 2.0em;
    margin-left:inherit;
  background: #DADADA;
  border:3px double #c41b1b;
  margin:0 auto;
  width:1024px;
}
.header{
     width: 1024px;
    height: auto;
}
.header #banner {
    margin:0 auto;
    position:relative;
    width:1024px;
}
#banner img{
    margin:auto;
    position:absolute;
    top:0; left:0;right:24px;
   bottom:-166px;
   width:1024px;
}
.content{
    margin:0 auto;
}
.footer{
    display:inline-block;
    font-size:16px;
    width:1024px;
}
.TextboxSearch{
    display: inline-block;
  position: relative;
  height: 35px;
  width: 563px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #ff0000;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
    top: 14px;
    left: -1px;
}
.TextboxSearch:after {
     content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5px;
  top: 21px;
  background: #ff0000;
  border-radius: 3px;
  transform: rotate(-45deg);
  transition: all 200ms ease;
}
.TextboxSearch.active,
.TextboxSearch:hover {
  width: 200px;
  margin-right: 0px;
}
.TextboxSearch.active:after,
.TextboxSearch:hover:after {
  height: 0px;
}
.TextboxSearch input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
}
.sidebar{
    float:  left;
    list-style: none;
	background: #b6ff00;

	font-size: 20px;
    text-decoration: none;
}
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;

}
 
.menu ul li{
display:inline;
}
 
.menu ul a{
text-decoration:none;
width:auto;
float:left;
background:#5c98bb;
color:#ffd800;
font-weight:bold;
text-align:center;
line-height:35px;
border-left:1px solid #fff;
font-size:19px;
border:8px solid #5c98bb;
}

