.body {
	font-size: 110%;
	line-height: 2.0em;
    margin-left:inherit;
  background: #DADADA;
  border:3px double #c41b1b;
  margin:0 auto;
  width:1024px;
  text-decoration:none;
}
.header{
     width: 1024px;
    height: auto;
}
.header #banner {
    margin:0 auto;
    position:relative;
    width:1024px;
}
#banner img{
    margin:auto;
    position:absolute;
    top:0; left:0;right:24px;
   bottom:-166px;
   width:1024px;
}
.content{
    margin:0 auto;
}
.footer{
    display:inline-block;
    font-size:16px;
    width:1024px;
    color:black;
}
.TextBoxSearch input[type=text] {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    width:200px;
    min-height: 28px;
    padding: 4px 20px 4px 8px;
    font-size: 12px;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.TextBoxSearch input[type=text]:focus{
     width: 400px;
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
    outline: none;
}
.sidebar{
    float:  left;
    list-style: none;
	background: #b6ff00;

	font-size: 20px;
    text-decoration: none;
}
.menu ul{
list-style-type:none;
padding:0px;
margin:0px;

}
 
.menu ul li{
display:inline;
}
 
.menu ul a{
text-decoration:none;
width:auto;
float:left;
background:#5c98bb;
color:#ffd800;
font-weight:bold;
text-align:center;
line-height:35px;
border-left:1px solid #fff;
font-size:17px;
border:6px solid #5c98bb;
padding:5px 5px;

}
.button{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background: #1AAB8A;
    color:#fff;
    position:relative;
    height:44px;
    font-size:17px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    top: 1px;
    left: -18px;
    width: 157px;
}
.button:hover{
    background:#fff;
    color:#1AAB8A;

}
.button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;

}
.button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;

}
.button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;

}

